# PANDAS
# 1.powerful Python data analysis toolkit.
# 2.general familiarity with NumPy
[pandas documentation](https://pandas.pydata.org/pandas-docs/stable/pandas.pdf)

In [0]:
import numpy as np
import pandas as pd

In [6]:
pd.Series([1,2,4,np.nan,8])

0    1.0
1    2.0
2    4.0
3    NaN
4    8.0
dtype: float64

In [8]:
pd.Series(np.arange(5))

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [0]:
dates=pd.date_range('201011',periods=6)

In [14]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2011-10-20 -1.128364  1.304669  2.002059  0.718491
2011-10-21 -0.412047  0.205596 -0.325732 -0.275904
2011-10-22  0.327941  1.676911  0.304930  1.280443
2011-10-23 -0.182796  0.110328  0.783592 -0.124559
2011-10-24  0.661825 -0.739681  1.285093  1.798302
2011-10-25 -0.846905  0.043380 -0.475085  0.449867

In [0]:
df1=pd.DataFrame({'A':1,
                  'B':pd.Timestamp('20761212'),
                  'c':pd.Series(1,index=(range(4)),dtype='float32'),
                  
                  })