# **PANDAS**
# key : pd.inbuiltfunction(parameters)
# 1.powerful Python data analysis toolkit.
# 2.general familiarity with NumPy
# 3.one datatype per column

# **STEPS** 
# C=create data frame /data table(dataframevariable=pd.DataFramefunction(data in iterator))
# R=read Data from dataframe /viewing data (dataframevariable.function)
# U=update data in data frame(data rable)/operation in dataframe
# D=delet data from data frame /data table
# 4.column=0
# 5.row=index=1
[pandas documentation](https://pandas.pydata.org/pandas-docs/stable/pandas.pdf)

In [0]:
import numpy as np
import pandas as pd

# C=**CREAD DATA FRAME/CREAT DATA STRUCTURE**

In [0]:
pd.Series([1,2,4,np.nan,8])

0    1.0
1    2.0
2    4.0
3    NaN
4    8.0
dtype: float64

In [0]:
pd.Series(np.arange(5))

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [0]:
dates=pd.date_range('201011',periods=6)
dates

DatetimeIndex(['2011-10-20', '2011-10-21', '2011-10-22', '2011-10-23',
               '2011-10-24', '2011-10-25'],
              dtype='datetime64[ns]', freq='D')

In [0]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2011-10-20 -0.519916 -0.134522 -0.882287 -2.328649
2011-10-21 -1.723655  1.202619 -1.021460  0.050348
2011-10-22  1.498543 -0.228589  0.820977 -0.364294
2011-10-23  0.139569  0.316437  1.128720 -0.364334
2011-10-24 -2.459922 -1.199507 -0.124364  0.166182
2011-10-25  0.370398  0.140727  1.024460  1.642690

In [0]:
df1=pd.DataFrame({'A':1,
                  'B':pd.Timestamp('20761212'),
                  'C':pd.Series(1,index=(range(4)),dtype='float32'),
                  'D':np.array([3]*4,dtype='int32'),
                  'E':pd.Categorical(['test','train','test','train']),
                  'F':'foo'
                   })
df1

   A          B    C  D      E    F
0  1 2076-12-12  1.0  3   test  foo
1  1 2076-12-12  1.0  3  train  foo
2  1 2076-12-12  1.0  3   test  foo
3  1 2076-12-12  1.0  3  train  foo

In [0]:
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# R=**READ DATA /VIEWING  DATA**
# dataname.function

In [0]:
df1.head() #view top an bottom rows of frame

   A          B    C  D      E    F
0  1 2076-12-12  1.0  3   test  foo
1  1 2076-12-12  1.0  3  train  foo
2  1 2076-12-12  1.0  3   test  foo
3  1 2076-12-12  1.0  3  train  foo

In [0]:
df1.head(1) # view first row

   A          B    C  D     E    F
0  1 2076-12-12  1.0  3  test  foo

In [0]:
df1.tail() #view total row from bottom to top

   A          B    C  D      E    F
0  1 2076-12-12  1.0  3   test  foo
1  1 2076-12-12  1.0  3  train  foo
2  1 2076-12-12  1.0  3   test  foo
3  1 2076-12-12  1.0  3  train  foo

In [0]:
df1.tail(1) #view last data

   A          B    C  D      E    F
3  1 2076-12-12  1.0  3  train  foo

In [0]:
df1.index #view the index of the data

RangeIndex(start=0, stop=4, step=1)

In [0]:
df1.columns #view the columns of data

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')